
      <h1 class="begin">Witamy w {{ title() }}
        <img src="logoWitryny.png" width="3%" alt="Krótki opis obrazka">
      </h1>
      <div class ="names"  >
        <a href = "#" ></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "#"   (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">Firma*&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <a href = "#" (click)="changeView2()">Oferta</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "#" (click)="changeView()">Realizacje</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "#">Cennik</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href = "#">Costam</a>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href = "#">Partnerzy</a>&nbsp;&nbsp;&nbsp;&nbsp;
       <a href = "#">Kontakt</a>&nbsp;&nbsp;&nbsp;

       <a><img class = "image"   (mousedown) ="myFunction()" src="search.png" width="4%" height="10%" alt="Krótki opis obrazka">
       </a>

       <div class="firm" [style.opacity]="opacity"  (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">
           <a href = "#" >Szkolenia</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href = "#">Referencje</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      </div>
       <app-middle *ngIf="value === 0"></app-middle>
       <app-middle2 *ngIf="value === 1"></app-middle2>


<div id = "training" style="display:none;">
OK


</div>






